@model IEnumerable<HiringOperations.Models.AdminModel>
@{
    ViewData["Title"] = "Displayusers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; ;
}

<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>*@
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>*@
    <style>
        body{

            background: #d1d5db;
        }

        .height{

            height: 100vh;
        }

        .form{

            position: relative;
        }

        .form .fa-search{

            position: absolute;
            top:20px;
            left: 20px;
            color: #9ca3af;
        }

        .form span{

                position: absolute;
            right: 17px;
            top: 13px;
            padding: 2px;
            border-left: 1px solid #d1d5db;

        }

        .left-pan{
            padding-left: 7px;
        }

        .left-pan i{

           padding-left: 10px;
        }

        .form-input{

            height: 55px;
            text-indent: 33px;
            border-radius: 10px;
        }

        .form-input:focus{

            box-shadow: none;
            border:none;
        }</style>
</head>
<body>
    <!-- Content Start -->
    <section class="text-black">
        <div class="container-fluid">
            <div class="grid-container">
                <div class="row">
                    <div class="caption col-sm-7">
                        <h5 class="page-title"><b>USER'S DATA</b></h5>
                      @*  //search*@
                       <div class="form-outline">
                            <i class="fa fa-search"></i>
                            <input type="search" id="myInput" class="form" placeholder="Search Here...">
                            <span class="right-microphone" style="color:red"><i></i></span>
                        </div>
                       
                   
                        <asp:Label ID="lbl_error" runat="server" Text="Label" Visible="False" ForeColor="Red"></asp:Label>
                    </div>
                    @*<div class="col-md-5">
                    <button type="button" class="btn btn-primary btn-style1-oval float-right" data-toggle="modal" data-target="#addFieldModal">+ Add Department</button>
                    </div>*@
                        <div>
                            <a asp-action="Addusers" class="btn btn-sm btn-dark btn-style1-oval float-right">
                                <i class="fa fa-plus"></i> <b>ADD Users</b>
                            </a>
                        </div>
                </div>
                <hr />
                <div id="formgrid" class="formgrid">
                    <table class="table table-bordered table-striped dtables" style="width: 100%" id="fieldSetupGrid">
                        
                        <thead>
                            <tr>
                                    @* <th style="width: 20px; text-align: center">S.No</th>*@
                                <th>
                                    <span style="font-size: 15px">User id</span>
                                </th>
                                <th>
                                    <span style="font-size: 15px">First Name</span>
                                </th>

                                <th>
                                    <span style="font-size: 15px">Last Name</span>
                                </th>

                                <th>
                                    <span style="font-size: 15px">Emailid</span>
                                </th>
                                <th>
                                    <span style="font-size: 15px">Password</span>
                                </th>
                                <th>
                                    <span style="font-size: 15px">Gender </span>
                                </th>

                                <th>
                                    <span style="font-size: 15px">Dob</span>
                                </th>
                                <th>
                                    <span style="font-size: 15px">Role</span>
                                </th>
                                <th>
                                    <span style="font-size: 15px">status</span>
                                </th>
                                
                                <th>
                                    <span style="font-size: 15px">Action</span>

                                </th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            @foreach (var item in Model)
                            {
                            <tr>
                                @*<td style="text-align: center"></td>*@
                                <td><center>@item.USERID</center></td>
                                <td><center>@item.FirstName</center></td>
                                <td><center>@item.LastName</center></td>
                                <td><center>@item.EmailID</center></td>
                                <td><center>@item.Password</center></td>
                                <td><center>@item.Gender</center></td>
                                <td><center>@item.Dob</center></td>
                                <td><center>@item.Role</center></td>
                                <td><center>@item.Status</center></td>
                               
                               
                                <td>
                                    <center>
                                           @* @Html.ActionLink("Update","Edit","Login", new{USERID=item.USERID},null)*@
                                            <a asp-action="Edit" asp-route-USERID="@item.USERID"><i class="text-info"><i class="fa fa-shopping-cart fa-lg ;"></i></a>|
                                           @* @Html.ActionLink("Delete","Delete","Login", new{USERID=item.USERID}, new { onclick = "return confirm('Are you sure wants to delete?');" })*@
                                    <a asp-action="Delete" asp-route-USERID="@item.USERID">
                                        <i class=" text-danger ml-1" onclick="return confirm('Are you sure to delete this record..?')"><i class="fa fa-trash fa-lg "></i></i>
                                    </a>
                                        </center>
                                </td>
                            </tr>
                        
                            }
                               </tbody> 
                    </table>
                </div>
             </div>
         </div>
     </section>
    </body>
 </html>
@* //search script*@
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

